.loading{
    padding: 10rem 0;
    margin: 0 0 14.5rem;
    position: relative;
}

.loading__copy{
    margin:auto;
    text-align:center;
    width:100%;
}

@keyframes loading__spinner{
    to{
        transform: rotate(360deg);
    }
}

.loading__spinner{
    animation: loading__spinner 1.1s cubic-bezier(.35, .22, .47, .68) infinite;
    border: 0.3rem solid transparent;
    border-left-color: #454545;
    border-radius: 50%;
    border-top-color: #454545;
    box-sizing: border-box;
    height: 4.5rem;
    left: 50%;
    margin-left: -1.75rem;
    position: absolute;
    top: 5rem;
    width: 4.5rem;
}

.loading_header {
    padding: 0 0 0.5rem 0;
}